<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script>
function bodyLoad(){
    var categories=["All","Footware","Electronics","Other"];
    categories.map(function(category){
        var li=document.createElement("li");
        li.innerHTML=category;
        document.querySelector("ol").appendChild(li);

    })

}





</script>


</head>
<body onload="bodyLoad()">
    <ol>

    </ol>
</body>
</html>